body {
  background-color: #6E85B2;
  text-align: center;
  margin:auto;
}

h1 {
  text-align: center;
  font-size: 500%;
  font-family: 'Monoton', cursive;
  margin-top: 0;
  margin-bottom: 0;
  color: #055052;
}

.player {
  font-size: 200%;
  text-align: center;
  color: #055052;
  font-family: 'Pacifico', cursive;
  margin-top:3%;
  margin-bottom:5%;
}

.div1 {
  text-align: center;
  display: inline-block;
  margin-right: 10%;
  margin-top: 5%;
}

.div2 {
  text-align: center;
  display: inline-block;
  margin-left: 10%;
  margin-top: 0;
}

.bottomp {
  margin-top: 3%;
}

.btn {
  display: block;
  margin:auto;
  border-radius: 8px;
  border:0;
  background-color:#055052;
  color:white;
  font-size: 170%;
}

.btn:hover{
  background-color:#53B8BB;
  cursor: pointer;
}

.Result{
  color: #055052;
  font-size: 170%;
}
